.navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

.footer {
    position: fixed;
    bottom: 8vh; /* Define o footer logo acima do Add Event */
    right: 0;
    width: 100%;
    height: 5vh; /* Ajuste conforme necessário */
    background-color: #666;
    color: white;
    font-size: 12px; /* Fonte pequena */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.addEvent {
    position: fixed;
    bottom: 0px; /* Colado no fundo da tela */
    left: 0;
    width: 100%; /* Ocupa toda a largura */
    height: 5vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 225);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.516);
    padding-top: 15px;
    padding-bottom: 15px;
}



.btnCircle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd50000;
    color: grey;
    border: none;
    cursor: pointer;
    margin: 1%;
    font-size: 25px;
    position: relative;
    color: #0300a354;
}

.btnCircle.active {
    color: #0300a3a1;
}

.menuCicle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd50000;
    color: black;
    border: none;
    cursor: pointer;
    margin: 1%;
    font-size: 14px;
    position: relative;
}

.btnCircleAddSpace{
    width: 100%;
}

.btnCircleAdd {
    position: relative;
    border-radius: 50%;
    border: 3px solid gray;
    color: gray;
    font-size: 20px;
    padding: 7px;
    transition: transform 0.3s ease-in-out;
    animation: pulseEffect 1.5s infinite;
}

@keyframes pulseEffect {
    0% {
        box-shadow: 0px 0px 5px 5px rgba(0, 123, 255, 0.1); /* Sombra menor e mais opaca */
    }
    50% {
        box-shadow: 0px 0px 10px 15px rgba(0, 123, 255, 0.5); /* Sombra expandida e mais visível */
    }
    100% {
        box-shadow: 0px 0px 5px 5px rgba(0, 123, 255, 0.3); /* Volta ao estado inicial */
    }
}

.btnText {
    font-size: 12px;
}

.navbar.minimized .addEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.navbar.minimized .btnCircle {
    display: none;
}

.navbar.minimized {
    width: auto;
}