.navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.addEvent {
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 225);
    border: 1px solid #4a4a4a;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.516);
    padding: 5px;
}

.btnCircle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd50000;
    color: grey;
    border: none;
    cursor: pointer;
    margin: 1%;
    font-size: 25px;
    position: relative;
}

.btnCircle.active {
    color: black;
}

.menuCicle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd50000;
    color: black;
    border: none;
    cursor: pointer;
    margin: 1%;
    font-size: 14px;
    position: relative;
}

.btnCircleAddSpace{
    width: 100%;
}

.btnCircleAdd {
    position: relative;
    border-radius: 50%;
    border: 3px solid gray;
    color: gray;
    font-size: 20px;
    padding: 7px;
    transition: transform 0.3s ease-in-out;
    animation: pulseEffect 1.5s infinite;
}

@keyframes pulseEffect {
    0% {
        box-shadow: 0px 0px 5px 5px rgba(0, 123, 255, 0.1); /* Sombra menor e mais opaca */
    }
    50% {
        box-shadow: 0px 0px 10px 15px rgba(0, 123, 255, 0.5); /* Sombra expandida e mais visível */
    }
    100% {
        box-shadow: 0px 0px 5px 5px rgba(0, 123, 255, 0.3); /* Volta ao estado inicial */
    }
}

.btnText {
    font-size: 12px;
}

.navbar.minimized .addEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.navbar.minimized .btnCircle {
    display: none;
}

.navbar.minimized {
    width: auto;
}