.navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.addEvent {
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 225);
    border: 1px solid #4a4a4a;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.516);
    padding: 5px;
}

.btnCircle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd50000;
    color: grey;
    border: none;
    cursor: pointer;
    margin: 1%;
    font-size: 25px;
    position: relative;
}

.btnCircle.active {
    color: black;
}

.menuCicle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd50000;
    color: black;
    border: none;
    cursor: pointer;
    margin: 1%;
    font-size: 14px;
    position: relative;
}

.btnCircleAdd {
    border-radius: 50%;
    border: 5px solid gray;
    color: gray;
    font-size: 25px;
    padding: 10px;
}


.btnText {
    font-size: 12px;
}

.navbar.minimized .addEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.navbar.minimized .btnCircle {
    display: none;
}

.navbar.minimized {
    width: auto;
}