.chatWidget {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: black;
}

.chatWidget .chatTitle {
    font-size: 20px;
    border: none;
    box-shadow: none;
    text-align: center;
    margin-bottom: 20px;
}

.chatWidget .chatMessageData {
    background-color: white;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    border: 0.5px solid #0300a3a1;
    border-radius: 3px;
    margin: 2%;
}

.chatWidget .chatMessageData p {
    text-align: justify;
    text-align-last: left;
}

.chatMessageData .chatTitle {
    color: #0300a3a1;
    font-size: 16px;
    font-weight: bold;
    margin: 2%;
}

.chatActionButton {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    background-color: white;
    color: #0300a3a1;
    border: 3px solid #0300a3a1;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin: 2%;
}

.chatAuthor {
    display: flex;
    justify-content: end;
    font-size: 12px;
    margin-top: 8px;
    padding-right: 2%;
}

.chatAuthor svg {
    font-size: 20px;
    color: #0300a3a1;
}

.chatPagination {
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.chatList {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.chatListItem {
    background-color: #fff;
    border-radius: 3px;
    margin: 2%;
    border: 0.5px solid #0300a3a1;
}

.chatList .chatListTitle {
    color: #0300a3a1;
    font-size: 16px;
    font-weight: bold;
    margin: 2%;
    font-weight: bold;
}

.inputMensage {
    margin: 0.5rem 0;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    background-color: lightgray;
    box-sizing: border-box;
    padding: 1%;
}
