.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    padding: 5px;
    width: 90vw; /* Reduzido de 90vw */
    border-radius: 30px;
    height: auto;
    background: #20232ac8;
    margin: 20px auto;
    color: #FFF; /* White text for better contrast */
    position: relative;
  }
  
  .countdown span {
    font-size: 16px; /* Larger font size for better readability */
    background: #20232a;
    padding: 2vw 4vw;
    border-radius: 10px;
  }
  
  .countdown span:not(:last-child) {
    margin-right: 10px;
  }
  
  .countdown span:nth-child(odd) {
    background: #051556;  /* Light blue matching the logo */
    color: #61dafb;  /* Dark blue text */
  }
  
  .countdown span:nth-child(even) {
    background: #FFCC00; /* Yellow matching the logo */
    color: #051556; /* Dark blue text */
  }
  