.ScheduleActivityPage {
    width: 100vw;
    height: 85vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto; 
}


.ScheduleActivityPage::-webkit-scrollbar {
    display: none; 
}

.ScheduleActivityPage {
    scrollbar-width: none; 
}

.ScheduleActivityCard {
    background-color: white;
    color: black;
    margin: 16px;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;  /* Remove o scroll no Edge */
    scrollbar-width: none; /* Remove o scroll no Firefox */
}

.ScheduleActivityCard::-webkit-scrollbar {
    display: none;
}

