.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 85vh;
    background: linear-gradient(135deg, #0300a3a1, darkblue);
    color: black;
    padding: 20px; /* Add padding for smaller screens */
    box-sizing: border-box; /* Include padding in width/height */
}

.auth-container .auth-form {
    max-width: 400px;
    width: 90%; /* Adjust width for responsiveness */
    background: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0; /* Adjust vertical margins */
    box-sizing: border-box; /* Include padding in width/height */
}

.auth-container .auth-image {
    width: 150px; /* Reduce image size for smaller screens */
    height: 150px; /* Reduce image size for smaller screens */
    object-fit: cover;
    margin-bottom: 15px;
}

.auth-container .auth-form .sliderLogin {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid #0300a3a1;
    color: black;
    background: white;
}

.auth-container .auth-form .switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: #0300a3a1;
}

.auth-container .auth-form .active {
    background-color: #0300a3a1;
    color: white;
    border-radius: 30px;
}

.auth-container .auth-form h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    color: #0300a3a1;
}

.auth-container .auth-form input, select {
    margin: 0.5rem 0;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    background-color: lightgray;
    box-sizing: border-box; /* Include padding in width/height */
}

.auth-container .auth-form .card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container .auth-form button {
    margin: 0.5rem 0;
    color: #0300a3a1;
    font-size: 14px;
    padding: 8px;
    border-radius: 30px;
    background-color: transparent;
    border: 3px solid #0300a3a1;
    width: 100%;
    box-sizing: border-box; /* Include padding in width/height */
}

.auth-container .toggle-link {
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
}

.auth-container .toggle-link:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 480px) {
    .auth-container .auth-form {
        padding: 2rem; /* Reduce padding for smaller screens */
    }

    .auth-container .auth-image {
        width: 120px; /* Further reduce image size for very small screens */
        height: 120px;
    }
}