.mapaCampori {
    width: 100vw;
    height: 94vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto; 
}


.mapaCampori::-webkit-scrollbar {
    display: none; 
}

.mapaCampori {
    scrollbar-width: none; 
}

.mapCard{
    background-color: white;
    color: black;
    margin: 16px;
    padding: 20px;
    border-radius: 10px;
}
