.event-scheduler {
    font-family: Arial, sans-serif;
    color: black;
}

.event-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 15px;
    border: 1px solid #0300a3a1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-form input[type="text"],
.event-form input[type="date"],
.event-form input[type="time"],
.event-form input[type="number"] {
    padding: 10px;
    border: 0.5px solid #0300a3a1;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    box-sizing: border-box;
}

.events-list {
    margin-top: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #0300a3a1;
}

.event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 0.5px solid #0300a3a1;
    background-color: #fff;
    border-radius: 3px;
}

.event-item span {
    font-size: 16px;
    font-weight: bold;
    color: #0300a3a1;
}

