.btnAuth {
    background-color: #005028;
    border-radius: 100px;
    color: white;
    font-size: 15px;
    border: none;
    width: 163px;
    height: 42px;
}

.btnAuth:hover {
    background-color: #003d1f;
}

.inputLogin {
    border: none;
    border-bottom: 2px solid #005028;
    outline: none;
    width: 100%; /* Torna o input flexível */
    max-width: 300px; /* Limita o tamanho máximo */
    margin-top: 5%; /* Ajusta a margem superior */
    background: none;
    box-sizing: border-box; /* Garante que padding e bordas não afetem o tamanho */
}

.resetPass {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
    margin-top: 5%; /* Ajusta a margem superior */
}

.password-container {
    position: relative;
    width: 100%; /* Garante que o container ocupe toda a largura disponível */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.boxButton {
    margin-top: 30px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%; /* Garante que o boxButton ocupe toda a largura */
}

#loginForm {
    margin-top: 40px;
    width: 100%; /* Garante que o formulário ocupe toda a largura */
    box-sizing: border-box; /* Garante que padding e bordas não afetem o tamanho */
}

#RegisterForm {
    display: flex;
    flex-direction: column;
    width: 100%; /* Garante que o formulário ocupe toda a largura */
    box-sizing: border-box; /* Garante que padding e bordas não afetem o tamanho */
}

#ForgotPasswordForm {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%; /* Garante que o formulário ocupe toda a largura */
    box-sizing: border-box; /* Garante que padding e bordas não afetem o tamanho */
}